<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width initial-scale=1.0"/>
    <title>Webhook Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>


    <div class="container">
      <header class="header">
        <h1>
          <span>Ticket Webhook Dashboard</span>
        </h1>

        <!-- statistics cards -->
         <div class="stats-container">
          <div class="stat-card total">
            <h3>Total Tickets</h3>
            <p id="total-count">0</p>
          </div>
          <div class="stat-card new">
            <h3>New Tickets</h3>
            <p id="new-count">0</p>
          </div>
          <div class="stat-card updated">
            <h3>Updated Tickets</h3>
            <p id="updated-count">0</p>
          </div>
         </div>

         <!-- last updated info -->
          <p id="last-updated">Loading...</p>
      </header>

      <!-- webhook URL Display -->
       <div class="webhook-url-box">
        <strong>Your Webhook URL:</strong><br>
        <code id="webhook-url">Loading...</code>
       </div>


       <!-- Filters -->
        <div class="filters">
          <select>
            <option value="">All Steps</option>
            <option value="new">New</option>
            <option value="open">Open</option>
            <option value="in-progres">In Progress</option>
            <option value="closed">closed</option>
          </select>

          <input type="text" id="filter-ticket-id" placeholder="Filter By Ticket ID">
          <input type="datetime-local" id="filter-date-from" placeholder="From Date">
          <input type="datetime-local" id="filter-date-to" placeholder="To Date">

          <button id="apply-filters">Apply Filters</button>
          <button id="clear-filters">Reset</button>
        </div>

        <!-- Clear Data Button -->
         <div class="actions">
          <button id="clear-data"> Clear All Data</button>
         </div>

         <!-- Render Tickets -->
          <main class="content">
            <div id="tickets-container">
              <p>Loading Tickets...</p>
            </div>
          </main>


          <footer>
            <p>
              Data Powered By Flask and Python
              Endpoint: <code>/webhook/{user_id}</code>
            </p>
          </footer>
    </div>

    <!-- javascript -->
     <script src="{{url_for('static', filename='script.js')}}"></script>
     </body>
</html>
